*{
	margin: 0;
	padding: 0;
}
#parallax{
	background: url(img/background.jpg) no-repeat center center;
	width: 100%;
	height: 630px;
	overflow: hidden;
	position: relative;
	background-size: cover;
}
.parallax-layer{
	position: absolute;
}
.bg1{
	background: url(img/drops_bg_back.png) no-repeat;
	width: 1000px;
	height: 830px;
}
.bg2{
	background: url(img/drops_bg_up.png) no-repeat;
	width: 1602px;
	height: 630px;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}

section{
	width: 100%;
	height: 100vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	overflow: hidden;

}
section h2{
	font-size: 30px;
	text-transform: uppercase;
	text-shadow: 0 0 5px #000;
	color: white;
}
.sect1{
	background: url(img/1.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.sect2{
	background: url(img/2.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}
.sect3{
	background: url(img/3.jpg) no-repeat center;
	-webkit-background-size: cover;
	background-size: cover;
}